salus:
  environment: local
spring:
  application:
    name: salus-telemetry-agent-catalog-management
  kafka:
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: ${spring.application.name}-${salus.environment}
      auto-offset-reset: latest
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: com.rackspace.salus.telemetry.messaging
  jackson:
    mapper:
      default-view-inclusion: true
